:root {
  --border-radius-px: 3px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  max-width: 500px;
  min-height: 100vh;
  padding: 1em;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

@media screen and (min-width: 40em) {
  .centered-content {
    margin-top: 3em;
  }
}

.page-title {
  text-align: center;
}

.shortcode {
  font-family: monospace;
  font-size: 28px;
}

.emoji-image {
  height: 64px;
  width: 64px;
}

.faqs {
  margin: 3em 0 2em;
}

.tooltip {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
}

.tooltip::after {
  border-radius: var(--border-radius-px);
  color: #fff;
  font-size: 1rem;
  font-size: 85%;
  line-height: 1.15rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: opacity 0.2s;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip::before {
  border-style: solid;
  border-width: 5px;
  content: "";
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s;
  visibility: hidden;
  top: 112%;
  left: 50%;
  margin-left: -0.3rem;
}

.success::after {
  background-color: #43A047;
  content: attr(data-tooltip-success);
}

.success::before {
  border-color: transparent transparent #43A047 transparent;
}

.failure::after {
  background-color: #E53935;
  content: attr(data-tooltip-failure);
}

.failure::before {
  border-color: transparent transparent #E53935 transparent;
}

.show-tooltip::after,
.show-tooltip::before {
  visibility: visible;
  opacity: 1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
  background-color: #fafafa;
}

h1 {
  margin: 0;
}

h1,
div,
img,
button {
  margin-bottom: 15px;
}

button {
  font-size: 20px;
  background-color: #111;
  color: #fafafa;
  padding: 7px 15px;
  border-radius: var(--border-radius-px);
  box-shadow: #a5a3a3 3px 3px 0px 0px;
  border: none;
}

button:hover {
  background-color: #666;
  box-shadow: #a5a3a3 4px 4px 4px 0px;
  cursor: pointer;
}

dt {
  font-weight: bold;
  margin-bottom: 15px;
}

dd {
  margin: 0;
  line-height: 22px;
}

footer {
  text-align: center;
}
